# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3

# Node
node_modules/
dist/

# Env & secrets
.env
*.local

# Media / static
/backend/media/
/backend/staticfiles/

# OS / editor
.DS_Store
.vscode/
.idea/
*.log
